[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyradiomics = "*"
simpleitk = "*"
django = "*"
requests = "*"
dicom-to-cnn = "*"
tensorflow = "==2.5.0"
tensorflow-serving-api = "==2.5.0"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.7.4"
